<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>msg</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>add</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

</web-app>